requests
pytest
structlog
curlify
pydantic
pyhamcrest
records
psycopg2-binary
sqlalchemy
sqlacodegen
vyper-config
allure-pytest
betterproto==v2.0.0-beta5
mypy-protobuf
grpcio-tools
grpcio
pytest-asyncio
